<header>
    <img src="/images/gold-s.webp" alt="gold background" class="gold">
    <h1 class="main">Cross Plains</h1>
    <h3 class="main-two">Oil Field Supply</h3>
    <img src="/images/pump.webp" alt="black oil pump" class="pump">
</header>

<button class="hamburger-button">
    ☰
</button>