<nav class="nav-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/products">Product</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <!-- <% if (user) { %>
            <li><a href="/account">Welcome, <%= user.first_name %></a></li>
            <li><a href="/user/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/user/login">Login</a></li>
        <% } %> -->

        <% if (user) { %>
            <li><a href="/user/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/user/login">Login</a></li>
        <% } %>

    </ul>
</nav>