<div class="nipple">

    <h2 class="nip">Pipe Nipples</h2>

    <h4 class="n-title">Nipple</h4>
    <img src="/images/ab-2.jpg" alt="nipples" class="ni">
    <p class="ni-size"> Size   &emsp;&emsp; Pounds &emsp;&emsp;</p>


</div>