<div class="stainless">

    <h2 class="stain">Stainless Fittings</h2>

    <h4 class="sl-fitting">Tubing Fittings</h4>
    <img src="/images/ab-25.jpg" alt="tubing fittings" class="slf">
    <p class="slf-size"> Material   &emsp;&emsp;  Size   </p>


</div>