*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

header{
    height: 300px;
}

.main {
font-family: Bodoni;    
font-weight: 700;
font-size: 65pt;
position: relative;
left: 465px;
top: -255px;

}

.gold{ width: 1665px;
        height: 300px;
}

.pump{
    height: 250px;
    position: relative;
    top: -515px;
    left: 50px;

}

ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    background-color: black;
    height: 40px;
    list-style-type: none;

}

ul li{
    padding-top: 8px;

}

li a{
    color: gold;
    text-decoration: none;
}