@media (max-width: 800px){

    /*Home Page*/
    header{
        height: 100px;
    }
    .gold {
        width: 100%;
        height: 100px;
    }

    .main {
        font-weight: 700;
        font-size: 35pt;
        position: relative;
        left: 170px;
        top: -110px;
        width: 700px;
    }

    .pump {
        height: 100px;
        position: relative;
        top: -225px;
        left: 25px;
    }

    .li a{
        font-size: 14pt;
    }

    .promise{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .promise h2 {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 25pt;

    }

    .statement{
        width: 600px;
        align-self: center;
        font-size: 14pt;

    }

    .service{
        height: 250px;
        width: 325px;
        align-self: center;
        margin-bottom: 50px;
        margin-top: 25px;
    }

    /*Team Page*/

    .whole{
        margin-left: 50px;
        margin-right: 50px;
    }
    .whole h2{
        font-size: 25pt;
    }

    .management h3{
        font-size: 20pt;
        text-align: center;
    }

    .manager{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .sales, .driver, .office {
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 100px 200px 100px;
        justify-content: center;
    }

    .sales h3, .driver h3, .office h3{
        text-align: center;
        grid-row: 1 / 1;
        grid-column: 1 / span 3;
    }

    .sales img, .driver img, .office img{
        height: 175px;
    }

    .sales p, .driver p, .office p{
        font-size: 14pt;
    }

    





































}
   
    
