@media (max-width: 600px) {

/*Header*/

    header{
        height: 50px;
    }

    .gold{
     height: 50px;
    }

    .main{
        font-size: 28px;
        width: 500px;
        left: 120px;
        top: -65px;
    }

    .pump{
     display: none;
    }

    .hamburger-button{
        display: block;
        position: absolute;
        top: 20px;
        right: 50px;
        background-color: black;
        color: gold;
        height: 30px;
        width: 30px;
        font-size: 16pt;
        padding: 0;
    }

    .nav-menu{
        display: none;
    }

    .nav-menu.open {
        display: block;
        height: 250px;
        background-color: black;
        text-align: center;
        padding: 10px;
    }

    ul li{
        padding: 10px;
    }

    ul{
        display: block;

    }

    footer{
        font-size: 15pt;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    /*Fittings Page*/

    footer p{
        margin-bottom: 0;
    }

    h2{
        font-size: 20pt;
    }

    h4{
        margin-top: 50px;
        font-size: 20pt;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 175px;
    }

    .fittings{
        display: block;
    }

    .fittings p{
        font-size: 15pt;
        width: 350px;
    }












































}