@media (max-width: 600px) {

/*Header*/

    header{
        height: 50px;
    }

    .gold{
     height: 50px;
    }

    .main{
        font-size: 28px;
        width: 500px;
        left: 120px;
        top: -65px;
    }

    .pump{
     display: none;
    }

    .hamburger-button{
        display: block;
        position: absolute;
        top: 20px;
        right: 50px;
        background-color: black;
        color: gold;
        height: 30px;
        width: 30px;
        font-size: 16pt;
        padding: 0;
    }

    .nav-menu{
        display: none;
    }

    .nav-menu.open {
        display: flex;
        flex-direction: column;
        height: 200px;
        background-color: black;
        text-align: center;
        padding: 10px;
    }

    ul li{
        padding: 10px;
    }

















































}