<div class="cleaner">
  <h2 class="clean">Cleaners/Lubricants</h2>

  <h4 class="pd-tape">Pipe Dope & Tape</h4>
  <img src="/images/ab-35.jpg" alt="pipe dope and tape" class="pdt" />
    <div class="dropdown-container">
      <select id="brand-dope" name="brand">
      <option value="">Select Brand</option>
      </select>

      <select id="size-dope" name="pounds" disabled>
      <option value="">Select Size</option>
      </select>
    </div>

  <h4 class="gloves">Gloves</h4>
  <img src="/images/ab-36.jpg" alt="gloves" class="glv" />
    <div class="dropdown-container">
      <select id="brand-gloves" name="brand">
      <option value="">Select Brand</option>
      </select>

      <select id="size-gloves" name="pounds" disabled>
      <option value="">Select Size</option>
      </select>
    </div>

  <h4 class="lub-cln">Lubricants & Cleaners</h4>
  <img src="/images/ab-37.jpg" alt="lubricants and cleaners" class="lub" />
    <div class="dropdown-container">
      <select id="brand-spray" name="brand">
      <option value="">Select Brand</option>
      </select>
    </div>

  <h4 class="hand-cln">Hand Cleaners</h4>
  <img src="/images/ab-38.jpg" alt="hand cleaner" class="hcln" />
    <div class="dropdown-container-soap">
      <select id="brand-soap" name="brand">
      <option value="">Select Brand</option>
      </select>

      <select id="size-soap" name="size" disabled>
      <option value="">Select Size</option>
      </select>
    </div>

  <h4 class="scrub-cln">Hand Scrubs</h4>
  <img src="/images/ab-39.jpg" alt="hand scrubs" class="scln" />
    <div class="dropdown-container-scrub">
      <select id="brand-scrub" name="brand">
      <option value="">Select Brand</option>
      </select>
    </div>

</div>

<script src="/scripts/p-cleaners/drop_down_dope.js"></script>
<script src="/scripts/p-cleaners/drop_down_gloves.js"></script>
<script src="/scripts/p-cleaners/drop_down_cleaners.js"></script>
<script src="/scripts/p-cleaners/drop_down_hand-soap.js"></script>
<script src="/scripts/p-cleaners/drop_down_scrubs.js"></script>