<div class="cleaner">
  <h2 class="clean">Cleaners/Lubricants</h2>

  <h4 class="pd-tape">Pipe Dope & Tape</h4>
  <img src="/images/ab-35.jpg" alt="pipe dope and tape" class="pdt" />
  <p class="pdt-size">&emsp;&emsp;Quantity &emsp;&emsp;</p>

  <h4 class="gloves">Gloves</h4>
  <img src="/images/ab-36.jpg" alt="gloves" class="glv" />
  <p class="glv-size">&emsp;&emsp; Brand &emsp;&emsp;</p>

  <h4 class="lub-cln">Lubricants & Cleaners</h4>
  <img src="/images/ab-37.jpg" alt="lubricants and cleaners" class="lub" />
  <p class="lub-size">Brand &emsp;&emsp; Quantity &emsp;&emsp;</p>

  <h4 class="hand-cln">Hand Cleaners</h4>
  <img src="/images/ab-38.jpg" alt="hand cleaner" class="hcln" />
  <p class="hcln-size">Brand &emsp;&emsp; Size &emsp;&emsp;</p>

  <h4 class="scrub-cln">Hand Scrubs</h4>
  <img src="/images/ab-39.jpg" alt="hand scrubs" class="scln" />
  <p class="scln-size">&emsp;&emsp; Brand &emsp;&emsp;</p>
</div>
