<div class="fittings">

    <h2>Fittings</h2>

    <h4 class="t-title">Tee</h4>
    <img src="/images/ab-3.jpg" alt="Tee's" class="tees">
    <div class="dropdown-container">
        <select id="material" name="material">
        <option value="">Select Material</option>
        </select>

        <select id="size" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pounds" name="pounds" disabled>
        <option value="">Select Pounds</option>
        </select>
    </div>
    
    <h4 class="nine">90</h4>
    <img src="/images/ab-4.jpg" alt="90's" class="ninety">
    <div class="dropdown-container">
        <select id="material90" name="material">
        <option value="">Select Material</option>
        </select>

        <select id="size90" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pounds90" name="pounds" disabled>
        <option value="">Select Pounds</option>
        </select>
    </div>

    <h4 class="c-title">Crosses</h4>
    <img src="/images/ab-5.jpg" alt="crosses" class="cross">
    <p class="size-three"> Material   &emsp;&emsp; Size   &emsp;&emsp; Pounds</p>

    <h4 class="snine">Street 90</h4>
    <img src="/images/ab-9.jpg" alt="street 90" class="street">
    <p class="size-four"> Material   &emsp;&emsp; Size  &emsp;&emsp; Pounds</p>

    <h4 class="fourty">45</h4>
    <img src="/images/ab-10.jpg" alt="45" class="fourfive">
    <p class="size-five"> Material  &emsp;&emsp; Size   &emsp;&emsp; Pounds</p>

    <h4 class="union">Hex Union</h4>
    <img src="/images/ab-14.jpg" alt="hex union" class="hex">
    <p class="size-six"> Material   &emsp;&emsp;  Size   &emsp;&emsp; Pounds</p>

</div>
<script src="/scripts/drop_down_tee.js"></script>
<script src="/scripts/drop_down_90.js"></script>