<div class="gauges">

    <h2 class="g">Gauges</h2>

    <h4 class="">Liquid Filled</h4>
    <img src="/images/ab-33.jpg" alt="liquid filled gauges">
    <div class="dropdown-container-gauges">
        
        <select id="size-gauge" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pounds-gauge" name="type" disabled>
        <option value="">Select Type</option>
        </select>
    </div>

</div>

<script src="/scripts/drop_down_gauges.js"></script>