<div class="gauges">

    <h2 class="g">Gauges</h2>

    <h4 class="">Liquid Filled</h4>
    <img src="/images/ab-33.jpg" alt="liquid filled gauges">
    <p class="gg-size">Size   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Pounds</p>

</div>