<div class="hammer">

    <h2 class="h-union">Hammer Unions</h2>

    <h4 class="ham-title">Hammer Unions</h4>
    <img src="/images/ab-8.jpg" alt="hammer union">
    <div class="dropdown-container-hammer">
        
        <select id="size-hammer" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pressure-hammer" name="pressure" disabled>
        <option value="">Select Type</option>
        </select>
    </div>


</div>

<script src="/scripts/drop_down_hammer.js"></script>