<div class="hose">

    <h2 class="hose-fitting">Hose Fittings</h2>

    <h4 class="repair">Pipe Repair Clamps</h4>
    <img src="/images/ab-28.jpg" alt="pipe repair clamps" class="clamp">
    <p class="clamp-size">&emsp;&emsp;  Size   &emsp;&emsp;</p>

    <h4 class="camlock">Cam Lock Fittings</h4>
    <img src="/images/ab-29.jpg" alt="cam lock fittings" class="lock">
    <p class="lock-size">&emsp;&emsp;  Size   &emsp;&emsp; </p>

    <h4 class="adapter">Hose Adapters</h4>
    <img src="/images/ab-34.jpg" alt="hose adapters" class="ha">
    <p class="ha-size">&emsp;&emsp;  Size   &emsp;&emsp;</p>

</div>