<div class="product">

    <h2>Products</h2>

   <li> <a href="/products/fittings">Fitting</a> </li>               
   <li> <a href="/products/studs-gaskets">Studs & Gaskets</a> </li>
   <li> <a href="/products/gauges">Gauges</a> </li>                  
   <li> <a href="/products/swage-bull">Swages & Bull Plugs</a> </li>
   <li> <a href="/products/hammer">Hammer Unions</a> </li>           
   <li> <a href="/products/tank">Tank Products</a> </li>
   <li> <a href="/products/hose">Hose Fittings</a> </li>             
   <li> <a href="/products/valves">Valves</a> </li>
   <li> <a href="/products/nipples">Nipples</a> </li>                
   <li> <a href="/products/weld">Weld Fittings</a> </li>
   <li> <a href="/products/regulator">Regulators</a> </li>           
   <li> <a href="/products/cleaners">Cleaners & Lubricants</a> </li>
   <li class="stainless"> <a href="/products/stainless">Stainless Fittings</a> </li>
  

</div>