<div class="nipple">

    <h2 class="nip">Pipe Nipples</h2>

    <h4 class="n-title">Nipple</h4>
    <img src="/images/ab-2.jpg" alt="nipples" class="ni">
    <div class="dropdown-container-nipple">
        
        <select id="size-nipple" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pounds-nipple" name="pounds" disabled>
        <option value="">Select Pounds</option>
        </select>

    </div>


</div>

<script src="/scripts/drop_down_nipple.js"></script>