<div class="regulator">

    <h2 class="reg">Regulators</h2>

    <h4 class="r-reg">Regulator</h4>
    <img src="/images/ab-26.jpg" alt="regulator" class="rr">
    <div class="dropdown-container">
        
        <select id="part-reg" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>

    <h4 class="b-joe">Big Joe</h4>
    <img src="/images/ab-31.jpg" alt="big joe" class="bj">
    <div class="dropdown-container">
        <select id="brand-joe" name="brand">
        <option value="">Select Brand</option>
        </select>

        <select id="spring-range" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="size-joe" name="pounds" disabled>
        <option value="">Select Pounds</option>
        </select>
    </div>

    <h4 class="l-controller">Level Controller</h4>
    <img src="/images/ab-32.jpg" alt="level controller" class="lc">
    <div class="dropdown-container">
        <select id="brand-level" name="brand">
        <option value="">Select Brand</option>
        </select>
    </div>

</div>

<script src="/scripts/p-regulator/drop_down_regulator.js"></script>
<script src="/scripts/p-regulator/drop_down_b-joe.js"></script>
<script src="/scripts/p-regulator/drop_down_level-c.js"></script>