<div class="stainless">

    <h2 class="stain">Stainless Fittings</h2>

    <h4 class="sl-fitting">Tubing Fittings</h4>
    <img src="/images/ab-25.jpg" alt="tubing fittings" class="slf">
    <div class="dropdown-container-stainless">
        
        <select id="part-stainless" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>


</div>

<script src="/scripts/drop_down_stainless.js"></script>