<div class="studs">

    <h2 class="sg">Studs and Gaskets</h4>

    
    <h4 class="sg-title"> B7 Studs</h4>
    <img src="/images/ab-15.jpg" alt="b7 studs" class="b7">
    <div class="dropdown-container-studs">
        
        <select id="size-b7" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="type-b7" name="type" disabled>
        <option value="">Select Type</option>
        </select>
    </div>

    <h4 class="gas">Gaskets</h4>
    <img src="/images/ab-27.jpg" alt="gaskets" class="gasket">
    <div class="dropdown-container-gasket">
        
        <select id="size-gasket" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="type-gasket" name="type" disabled>
        <option value="">Select Type</option>
        </select>
    </div>


</div>

<script src="/scripts/drop_down_b7.js"></script>
<script src="/scripts/drop_down_gasket.js"></script>
