<div class="swages">

    <h2 class="sb-title">Swages and Bull Plugs</h2>

    <h4 class="bull">Bull Plug</h4>
    <img src="/images/ab-6.jpg" alt="bull plug" class="bullp">
    <div class="dropdown-container-bull">
        
        <select id="size-bull" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pounds-bull" name="pounds" disabled>
        <option value="">Select Type</option>
        </select>
    </div>

    <h4 class="swage-title">Swages</h4>
    <img src="/images/ab-7.jpg" alt="swages" class="sw">
    <div class="dropdown-container-swage">
        
        <select id="size-swage" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pounds-swage" name="pounds" disabled>
        <option value="">Select Type</option>
        </select>
    </div>


</div>
<script src="/scripts/p-bull/drop_down_bull.js"></script>
<script src="/scripts/p-bull/drop_down_swage.js"></script>