<div class="swages">

    <h2 class="sb-title">Swages and Bull Plugs</h2>

    <h4 class="bull">Bull Plug</h4>
    <img src="/images/ab-6.jpg" alt="bull plug" class="bullp">
    <p class="bp-size">Size   &emsp;&emsp; Weight</p>

    <h4 class="swage-title">Swages</h4>
    <img src="/images/ab-7.jpg" alt="swages" class="sw">
    <p class="sw-size">Size   &emsp;&emsp; Weight</p>


</div>