<div class="tanks">

    <h2 class="tp">Tank Products</h2>

    <h4 class="dresser">Dresser Sleeve</h4>
    <img src="/images/ab-21.jpg" alt="dresser sleeve" class="sleeve">
    <div class="dropdown-container-sleeve">
        
        <select id="size-sleeve" name="size" disabled>
        <option value="">Select Size</option>
        </select>

    </div>

    <h4 class="theif-hatch">Theif Hatch</h4>
    <img src="/images/ab-22.jpg" alt="theif hatch" class="theif">
    <div class="dropdown-container-thief">
        
        <select id="size-thief" name="size" disabled>
        <option value="">Select Size</option>
        </select>

    </div>

    <h4 class="stack-vent">Stack Vent</h4>
    <img src="/images/ab-23.jpg" alt="stack vent" class="stack">
    <div class="dropdown-container-stack">
        
        <select id="size-stack" name="size" disabled>
        <option value="">Select Size</option>
        </select>

    </div>

    <h4 class="sticks">Soap/Acid Sticks</h4>
    <img src="/images/ab-40.jpg" alt="soap and acid sticks" class="soap">
    <div class="dropdown-container-soap">
        
        <select id="size-soap" name="size" disabled>
        <option value="">Select Size</option>
        </select>

    </div>



</div>

<script src="/scripts/p-tanks/drop_down_sleeve.js"></script>
<script src="/scripts/p-tanks/drop_down_thief.js"></script>
<script src="/scripts/p-tanks/drop_down_stack.js"></script>
<script src="/scripts/p-tanks/drop_down_soap.js"></script>