<div class="valves">

    <h2 class="v-head">Valves</h2>

    <h4 class="c-valve">Check Valve</h4>
    <img src="/images/ab-1.jpg" alt="check valve" class="cv">
    <div class="dropdown-container">
        
        <select id="part-checkv" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>

    <h4 class="b-valve">Ball Valve</h4>
    <img src="/images/ab-11.jpg" alt="ball valve" class="bv">
    <div class="dropdown-container">
        
        <select id="part-ballv" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>

    <h4 class="sb-valve">Square Body Ball Valve</h4>
    <img src="/images/ab-12.jpg" alt="square body ball valve" class="sbv">
    <div class="dropdown-container">
        
        <select id="part-squarev" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>
    <h4 class="n-valve">Needle Valves</h4>
    <img src="/images/ab-13.jpg" alt="needle valves" class="nv">
    <div class="dropdown-container">
        
        <select id="part-needlev" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>

    <h4 class="f-valve">Flange Valves</h4>
    <img src="/images/ab-18.jpg" alt="flange valves" class="fv">
    <div class="dropdown-container">
        
        <select id="part-flangev" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>

    <h4 class="br-valve">Brass Valves</h4>
    <img src="/images/ab-19.jpg" alt="brass valves" class="brv">
    <div class="dropdown-container">
        
        <select id="size-brassv" name="part-number" disabled>
        <option value="">Select Part #</option>
        </select>

    </div>

    <h4 class="b-check">Ball Check</h4>
    <img src="/images/ab-20.jpg" alt="ball check" class="bc">
    <div class="dropdown-container-ballc">
        
        <select id="size-ballc" name="size" disabled>
        <option value="">Select Size</option>
        </select>

        <select id="pounds-ballc" name="pounds" disabled>
        <option value="">Select Pounds</option>
        </select>

    </div>

</div>

<script src="/scripts/p-valve/drop_down_check-v.js"></script>
<script src="/scripts/p-valve/drop_down_ball-v.js"></script>
<script src="/scripts/p-valve/drop_down_square-v.js"></script>
<script src="/scripts/p-valve/drop_down_needle-v.js"></script>
<script src="/scripts/p-valve/drop_down_flange-v.js"></script>
<script src="/scripts/p-valve/drop_down_brass-v.js"></script>
<script src="/scripts/p-valve/drop_down_ball-c.js"></script>