<div class="weld-fitting">

    <h2 class="weld">Weld Fittings</h2>

    <h4 class="w-fit">Weld Fitings</h4>
    <img src="/images/ab-16.jpg" alt="weld fittings" class="wf">
    <p class="wf-size">Size   &emsp;&emsp; Pounds &emsp;&emsp;</p>

    <h4 class="flange">Flanges</h4>
    <img src="/images/ab-17.jpg" alt="flanges" class="fl">
    <p class="fl-size">Size   &emsp;&emsp; Class &emsp;&emsp; Pounds &emsp;&emsp;</p>



</div>